.big-breaking {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* also add this */
    min-height: 54vh;
    padding-bottom: 30px;
}

.bigbreaking-wrap {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 15px;
    border-bottom: 1px solid #4b4a4a;
    margin-bottom: 15px;
}

.bb-banner {
    width: 100%;
    height: 105px;
    overflow: hidden;
}

.bb-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bb-left {
    width: 100%;
    max-width: 40%;
    color: #fff;
    margin-right: 20px;
}

.bb-tag {
    background: linear-gradient(145deg, #e53935, #d32f2f);
    padding: 7px 17px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border-radius: 6px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.bb-title {
    font-size: 45px;
    line-height: 55px;
    font-weight: 600;
    margin-top: 10px;
    color: #fff;
}

.bb-bottom {
    display: flex;
    flex-direction: row;
}

.bb-card {
    margin-right: 25px;
}

.bb-card:last-of-type {
    margin-right: 0;
}

.bb-link {
display: flex;
  align-items: flex-start; /* aligns image & text at top */
  text-decoration: none;
}


.bb-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.bb-img {
  width: 155px;
  height: auto;
  margin-right: 15px;
  border-radius: 6px;
  overflow: hidden;
  flex-shrink: 0;
}

.bb-media video {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.bb-text {
    width: 100%;
    font-size: 18px;
    color: #a5a5a5;
    line-height: 25px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.video-play {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
}

.video-play::after {
    content: "";
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #e40000a2 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpolygon fill='white' points='12,9 24,16 12,23'/%3E%3C/svg%3E") center / 80% 80% no-repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.35);
    display: inline-block;
    /* ensure it renders */
}

.bb-card-m {
    display: flex;
    flex-direction: row;
    margin-bottom: 18px;
}

.bb--card-top-m {
    width: 100%;
    max-width: 290px;
    height: 190px;
    margin-right: 12px;
    overflow: hidden;
    border-radius: 6px;
}

.bb--card-top-m img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bb-bottom-m {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.bb--card-top-title h2 {
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    font-weight: 600;
}

.bb--card-top-p {
    font-size: 15px;
    line-height: 21px;
    color: #666;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bb--card-top-title {
    margin-bottom: 10px;
    text-decoration: none;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 1360px) {
    .bb-title {
        font-size: 40px;
    }

    .big-breaking {
        min-height: 53vh;
    }

    .bb-banner {
        width: 100%;
        height: 102px;
        overflow: hidden;
    }
}

@media screen and (max-width: 600px) {
    .bb-banner {
        width: 100%;
        height: 50px;
    }

    .bigbreaking-wrap {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 0px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .bb-left,
    .bb-right {
        width: 100%;
        max-width: 100%;
        margin-right: 0;
    }

    .bb-left {
        margin-bottom: 7px;
    }

    .bb-title {
        font-size: 25px;
        line-height: 36px;
        margin: 0;
    }

    .bb-bottom {
        padding-left: 15px;
        padding-right: 15px;
        flex-direction: column;
        /* overflow-x: auto;      
            overflow-y: hidden;   
            white-space: nowrap;   
            gap: 12px;             
            width: 821px;         
            scroll-behavior: smooth; */
    }

    .bb-card:not(:last-child) {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .bb-img {
        max-width: 155px;
    }

    .bb-tag {
        background: linear-gradient(145deg, #e53935, #d32f2f);
        padding: 5px 13px;
        color: #fff;
        font-size: 13px;
        margin-bottom: 2px;
    }

    .bb-card-m {
        flex-direction: column;
        margin-bottom: 16px;
    }

    .bb--card-top-m {
        width: 100%;
        max-width: 100%;
        height: auto;
        margin-right: 0;
        margin-bottom: 12px;
    }

    .bb--card-top-title h2 {
        margin-bottom: 2px;
    }

    .bb--card-top-p {
        margin-bottom: 2px;
    }
}